I started a new job at [Splice](https://splice.com) this year, after being laid off from [Bandcamp](https://bandcamp.com/) when [Epic Games sold it to Songtradr](https://www.404media.co/bandcamps-entire-union-bargaining-team-was-laid-off/).

- Brian posted this song
- brian is really great
- love the vibes

> foo
> bar

```
One, two, three, four
I count mountains
One, two, three, counter
You're a cool thing, count mountains
```
