---
id: feline-wave-race
spotifyID: 62D9JFjTnGgF7REU7oI2AB
number: 17
name: Feline Wave Race
artist: Nap Eyes
img: https://i.scdn.co/image/ab67616d0000b273e291392b8935a7406d7530e3
duration: 370879
bandcampPath: https://napeyes.bandcamp.com/track/feline-wave-race
lines: [
   { words: "TODO", position: 0 }
]
---

- dreamy
- N64 wave race
