---
id: fire-excape
number: 15
name: Fire Excape
artist: Zsela
img: https://i.scdn.co/image/ab67616d0000b273159ede86b6de7edf50f76264
bandcampPath: https://zselaofficial.bandcamp.com/track/fire-excape
---

- hypnotic
- sonic blast, love it
