---
id: 0zRFBHvgpkp0OpCS22UwvS
slug: 2024
name: 2024 - Patterns in Repeat
image: https://image-cdn-fa.spotifycdn.com/image/ab67706c0000da84c6df90a23a641404322c6aba
tracks: barley|borrow-trouble|missing-out|suck-the-blood-from-my-wound|pretty-damn-lucky--kitchen-demo|talk-is-cheap|outside-all-the-time|dividual-individual|before-you-gotta-go|connect|the-insulation|lord-make-me-a-scorpion|nothing-changes|parallel-play|fire-excape|light-on|feline-wave-race|i-missed-the-bus-man|ctrl-alt-del|pressed--death|air-drumming-fix-you|patterns|hat-guy|all-the-weworks-are-dead|eso-que-tu-haces
---

TODO