Last year, I loved [Sweet Tooth](https://www.youtube.com/watch?v=1YUJ-8V3tx4) by [Maya Hawke](https://www.mayahawkemusic.com/), so I was looking forward to her new album this year. The hook in the chorus got me, so good!

> Missin' out, missin' out, missin' out
> Missin' out, missin' out, missin' out
> Missin' out, missin' out, missin' out
> Now I know it's me who's missin' out

Yeah, me too Maya.
