---
id: parallel-play
spotifyID: 5tjgam0EHh3ffO14xNjZ2O
number: 14
name: Parallel Play
artist: Silje Sweets
img: https://i.scdn.co/image/ab67616d0000b27352c13e20e34b2f82daff3147
duration: 195200
bandcampPath: https://sill-yuh-sweets.bandcamp.com/track/parallel-play
lines: [
   { words: "TODO", position: 0 }
]
---

- Chicago
- Recomendation from Steve Slagg
