---
id: the-insulation
number: 11
name: The Insulation
artist: Menomena
img: https://i.scdn.co/image/ab67616d0000b273ef0d7f6d88b5b0d5d88c38c8
bandcampPath: https://menomena.bandcamp.com/track/the-insulation
---

- new song from my favorite band in college (now?), sign me up!
- facts about Menomena
